.btn-handler {
    width: 200px;
    height: 50px;
    font-size: 30px;
}

.background-green {
    background-color: rgb(97, 201, 101);
}

.shiny {
    background-color: rgba(13, 110, 236, 0.661);
    color: rgb(206, 202, 195);
    font-size: 30px;
}